/* ==========================================================================
   Menu:

   Global Style
   Header
   Footer
   Elements with animation
   Margin classes
   Twek classes
   ========================================================================== */
/* Global Style */

* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    background: white;
    font-family: 'Quicksand', sans-serif;
    color: rgb(65, 65, 65);
    font-size: medium;
    font-weight: 400;
    padding-top: 75px;
}

.secondary-font {
    font-family: 'Titillium Web', 'Quicksand', sans-serif;
    font-weight: 400;
}

a:not([href]):hover,
a:not([href]):focus {
    cursor: pointer;
    color: #337AB7;
    text-decoration: none;
}

/* Header */
.navbar {
    background-color: #EEE;
    border: 0;
}

.navbar .navbar-nav > li > a {
    color: #555;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
    color: #111;
    background: #DDD;
}

.brand-img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
    box-sizing: content-box;
}

.brand-img:hover {
    background-color: #CCC;
    border-radius: 50%;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav .fa {
    margin-left: .5em;
}

/* Footer */
.footer {
    position: fixed;
    width: 100%;
    background-color: #EEEEEE;
    height: 50px;
    line-height: 50px;
    bottom: 0;
}

.footer .fa {
    color: #555;
}

.footer .fa:not(.copyright) {
    font-size: 1.4em;
}

/* Elements with animation */
.btn,
.brand-img,
.navbar-inverse .navbar-nav > li > a {
    -webkit-transition: .4s all;
    transition: .4s all;
}

/* Margin classes */
.margin-right-10 {
    margin-right: 10px;
}

/* Tweak classes */
.scrollable {
    background: /* Shadow covers */ linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, /* Shadows */ radial-gradient(50% 0, farthest-side, rgba(0,0,0,.1), rgba(0,0,0,0)), radial-gradient(50% 100%, farthest-side, rgba(0,0,0,.1), rgba(0,0,0,0)) 0 100%;
    background: /* Shadow covers */ linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.1), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.1), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 10px, 100% 10px;
    background-attachment: local, local, scroll, scroll;
}